In [ ]:
'''
26. Create a list by concatenating a given list which range goes from 1 to n

Sample Output

['T', 'J']

N = 10

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']
'''
a = ['T', 'J']
N = 10
y = []
for i in range (1, N+1):
  for j in a:
    y.append(j + str(i))
print(y)

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

In [ ]:
'''
27. Write a Python program to get variable unique identification number or string

Sample Output

x = 30

s = "Tutor Joes"

Unique Identification Number : 7005f980

Unique Identification String : c24bb0
'''
x = 30
s = "Tutor Joes"

x_id = id(x)
s_id = id(s)

print("Unique Identification Number =", x_id)
print("Unique Identification String =", s_id)

Unique Identification Number = 132604761932944
Unique Identification String = 132604333949232

In [ ]:
'''
28. Write a Python program to find common items from two lists

Sample Output

[23,45,67,78,89,34]

[34,89,55,56,39,67]

Common items from two lists : {89, 34, 67}
'''
#Method 1
a = [23,45,67,78,89,34]
b = [34,89,55,56,39,67]
c = []
for i in a:
  for j in b:
    if i == j:
      c.append(i)
print(set(c))

# Method 2
a = [23,45,67,78,89,34]
b = [34,89,55,56,39,67]
common = []
for i in a:
  if i in b:
    common.append(i)
print(common)
print(set(common))

{89, 34, 67}
[67, 89, 34]
{89, 34, 67}

In [ ]:
'''
29. Write a Python program to split a list based on first character of word

Sample Output

["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]

F
     Fox
S
     Shark
     Snake
b
     bear
c
     cat
     cow
d
     dog
l
     lion
m
     monkey
     mouse
t
     tiger
     turtle
'''
a = ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]
new = {}
for i in a:
  first_char = i[0]
  if first_char not in new:
    new[first_char] = []
  new[first_char].append(i)

for first_char in



animals = ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]

grouped = {}

# Grouping animals based on their first character
for animal in animals:
    key = animal[0]
    if key not in grouped:
        grouped[key] = []
    grouped[key].append(animal)

# Order keys to achieve the desired mixed-case output
order = ['F', 'S', 'b', 'c', 'd', 'l', 'm', 't']

# Printing the grouped animals based on the order
for key in order:
    print(key)
    for animal in grouped[key]:
        print("     " + animal)

B
     bear
C
     cat
     cow
D
     dog
F
     Fox
L
     lion
M
     mouse
     monkey
S
     Shark
     Snake
T
     tiger
     turtle

In [ ]:
a = ["cat",'Cart' ,"dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]
b = []
for i in a:
 if i[0] not in b:
  print (i[0])
  for j in a:
    if i[0] == j[0]:
      print(j)
      b.append(i[0])

c
cat
cow
C
Cart
d
dog
t
tiger
turtle
l
lion
F
Fox
S
Shark
Snake
m
mouse
monkey
b
bear

In [ ]:
'''
30. Write a Python program to select the odd number of a list

Sample Output

[1,2,4,3,6,7,5,8,9,7,8,9,10]

[1, 3, 7, 5, 9, 7, 9]
'''
a = [1,2,4,3,6,7,5,8,9,7,8,9,10]
odd = []
even = []
for i in a:
  if i % 2 == 0:
    even.append(i)
  else:
    odd.append(i)
print (odd)

[1, 3, 7, 5, 9, 7, 9]

In [ ]:
'''
31. Write a Python Program to count unique values inside a list

Sample Output

[10, 20, 30, 50, 80, 70, 70, 80, 10]

No of Unique Items in List : 6
'''
# Method 1
a = [10, 20, 30, 50, 80, 70, 70, 80, 10]
new = set(a)
print (new)
print("No of Unique Items in List :",len(new))

# Method 2

a = [10, 20, 30, 50, 80, 70, 70, 80, 10]
b = []
for i in a:
  if i not in b:
    b.append(i)
print (len(b))

# Method 3
a = [10, 20, 30, 50, 80, 70, 70, 80, 10]
b = []
count = 0
for i in a:
  if i not in b:
    count += 1
    b.append(i)
print (count)

{70, 10, 80, 50, 20, 30}
No of Unique Items in List : 6
6
6

In [ ]:
'''
32. Write a Python Program to List product excluding duplicates

Sample Output

[2, 1, 2, 4, 6, 4, 3, 2, 1]

Duplication removal list product : 144

'''
# Method 1
a = [2, 1, 2, 4, 6, 4, 3, 2, 1]
b = set (a)
product = 1
for i in b:
  product *= i
print("Duplication removal list product :",product)

# Method 2
a = [2, 1, 2, 4, 6, 4, 3, 2, 1]
b = []
product =1
for i in a:
  if i not in b:
    b.append(i)
    product *= i
print (product)

Duplication removal list product : 144
144

In [ ]:
'''
33. Write a Python Program to Extract elements with Frequency greater than K

Sample Output

[4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
'''
a = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
k = 2
result = []
for i in a:
  if a.count(i) > k and i not in result:
    result.append(i)
print (result)

[4, 3]

In [ ]:
'''
34. Write a Python Program to Test if List contains elements in Range

Sample Output

[4, 5, 6, 7, 3, 9]

Does list contain all elements in range : True
'''
a = [4, 5, 6, 7, 3, 9]
min1 = min(a)
max1 = max(a)
k = 0
for i in range(0, len(a)):
  if a[i] >= min1 and a[i] <= max1:
    k = k+1
    if len(a) == k:
      print (True)
  else:
    print (False)

True

In [ ]:
'''
35. Write a Python program to check if the list contains three consecutive common numbers in Python

Sample Output

[18, 18, 18, 6, 3, 4, 9, 9, 9]

Three Consecutive common numbers = 18, 9
'''
a = [18, 18, 18, 6, 3, 4, 9, 9, 9]
b = []
for i in range(0, len(a)-2):
  print(i)
  print(f'{a[i]} == {a[i+1]} and {a[i+1] }== {a[i+2]}')
  if a[i] == a[i+1] and a[i+1] == a[i+2]:
    b.append(a[i])
print (b)

output = ','.join(map(str,b))
print (output)

0
18 == 18 and 18== 18
1
18 == 18 and 18== 6
2
18 == 6 and 6== 3
3
6 == 3 and 3== 4
4
3 == 4 and 4== 9
5
4 == 9 and 9== 9
6
9 == 9 and 9== 9
[18, 9]
18,9

In [ ]:
'''
36. Write a Python program to find the Strongest Neighbour

Sample Output

[10,20,30,20,30,400]

20 30 30 30 400
'''
# Method 1
a = [10,20,30,20,30,400]
for i in range(1, len(a)):
  m = max(a[i], a[i-1])
  print (m, end=" ")

# Method 2
a = [10,20,30,20,30,400]
b = []
for i in range (0, len(a)-1):
  if a[i] > a[i+1]:
    b.append(a[i])
  else:
    b.append(a[i+1])
print(" ".join(map(str, b)))

20 30 30 30 400 20 30 30 30 400
20 30 30 30 400 20 30 30 30 400

In [ ]:
'''
37. Write a Python Program to print all Possible Combinations from the three Digits

Sample Output

[1, 2, 3]

1 2 3

1 3 2

2 1 3

2 3 1

3 1 2

3 2 1
'''
digits = [1, 2, 3]

# This will store all the combinations
combinations = []

# Nested loops to go through each digit
for i in digits:
    for j in digits:
        for k in digits:
            # Only add unique combinations
            if i != j and j != k and i != k:
                combinations.append((i, j, k))

print(combinations)
# Printing the combinations vertically without commas
for combo in combinations:
    print(combo[0], combo[1], combo[2])

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
'''
38. Write a Python program to find all the Combinations in the list with the given condition

Sample Output

['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]

[ ['Tutor Joes', 'Software', 'Solution'], ['Tutor Joes', 'Computer', 'Education'] ]
'''
a = ['Tutor Joes', ['Software', 'Computer','botle'], ['Solution', 'Education','pen','paper']]
b=[a[0]]
m=[]
for i in range(0,len(a[1])):
  b=[a[0]]
  for j in range(1,len(a)):
    b.append(a[j][i])
  m.append(b)
print(m)

[['Tutor Joes', 'Software', 'Solution'], ['Tutor Joes', 'Computer', 'Education'], ['Tutor Joes', 'botle', 'pen']]

In [ ]:
'''
39. Write a Python program to get all unique combinations of two Lists

Sample Output

['A','B','C']

[1,2,3]

[ [('A', 1), ('B', 2), ('C', 3)], [('A', 1), ('C', 2), ('B', 3)], [('B', 1), ('A', 2), ('C', 3)], [('B', 1), ('C', 2), ('A', 3)], [('C', 1), ('A', 2), ('B', 3)], [('C', 1), ('B', 2), ('A', 3)] ]
'''
a = [1,2,3]

digits = ['A','B','C']

# This will store all the combinations
combinations = []

# Nested loops to go through each digit
for i in digits:
    for j in digits:
        for k in digits:
            # Only add unique combinations
            if i != j and j != k and i != k:
                combinations.append([(i,1), (j,2), (k,3)])


print(combinations)

[[('A', 1), ('B', 2), ('C', 3)], [('A', 1), ('C', 2), ('B', 3)], [('B', 1), ('A', 2), ('C', 3)], [('B', 1), ('C', 2), ('A', 3)], [('C', 1), ('A', 2), ('B', 3)], [('C', 1), ('B', 2), ('A', 3)]]

In [ ]:
l=['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]
type(l[0])

str

In [ ]:
'''
40. Write a Python program to remove all the occurrences of an element from a list

Sample Output

[1, 3, 4, 6, 5, 1]

[3, 4, 6, 5]
'''
a = [1, 3, 4, 6, 5, 1]
value_to_remove = 1
new = []
for i in a:
  if i != value_to_remove:
    new.append(i)
print (new)

[3, 4, 6, 5]

In [ ]:
'''
41. Write a Python Program to Remove Consecutive K element records

Sample Output

[ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]

[ ('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C') ]

'''
#Method 1
a = [ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]
b = []
for i in a:
  if len(i) == len(set(i)):
    b.append(i)
print(b)

#Method 2
a = [ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]

for i in a:
    for j in range(len(i)-1):
        # If we find two items next to each other that are the same
        if i[j] == i[j+1]:
            a.remove(i)
            break  # No need to check more
print(a)

[('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]
[('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

In [ ]:
'''
42. Write a Python Program to Replace index elements with elements in Other List

Sample Output

['Tutor Joes', 'Computer', 'Education']

[2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]

['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']
'''
a = ['Tutor Joes', 'Computer', 'Education']
b = [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
x = []
for i in b:
  x.append(a[i])
print(x)

['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

In [ ]:
'''
43. Write a Python Program to Retain records with N occurrences of K

Sample Output

[ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ]

K = 5

N = 2

[ (4, 5, 6, 5, 4), (5, 5, 2) ]
'''
a = [ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ]
K = 5
N = 2
new = []
for i in a:
  if i.count(K) == N:
    new.append(i)
print(new)

[(4, 5, 6, 5, 4), (5, 5, 2)]

In [ ]:
'''
44. Write a Python Program to Swap elements in String list

['Tutor', 'joes', 'Computer', 'Education']

Sample Output
['Tutor', "Joe's", 'Software', 'Solutions']
'''
a = ['Tutor', 'joes', 'Computer', 'Education']
a[1] = "Joe's"
a[2] = "Software"
a[3] = "Education"
print (a)

['Tutor', "Joe's", 'Software', 'Education']

In [ ]:
'''
45. Write a Python program to reverse All Strings in String List

Sample Output

Original list = ['Tutor', 'joes', 'Computer', 'Education']

Reversed list = ['rotuT', 'seoj', 'retupmoC', 'noitacudE']

Reversed list = ['Education', 'Computer', 'joes', 'Tutor']
'''
Original_list = ['Tutor', 'joes', 'Computer', 'Education']
Reversed_list1 = []
Reversed_list2 = Original_list[::-1]
for i in Original_list:
    Reversed_list1.append(i[::-1])
print(Reversed_list1)
print(Reversed_list2)

['rotuT', 'seoj', 'retupmoC', 'noitacudE']
['Education', 'Computer', 'joes', 'Tutor']

In [ ]:
'''
46. Write a Python program to find the character position of Kth word from a list of strings

['Tutor', 'joes', 'Computer', 'Education']

K = 20

Sample Output

Index of character at Kth position word : 3
'''
words = ['Tutor', 'joes', 'Computer', 'Education']
K = 20

# Loop through each word
for i in words:
    # If the word's length is less than or equal to K
    if len(i) < K:
        # Reduce K by the length of the word
        K -= len(i)
    else:
        # Print the character position if K is less than word's length
        print("Index of character at Kth position word:", K)
        break

Index of character at Kth position word: 3

In [ ]:
'''
47. Write a Python Program to Prefix frequency in string List

Sample Output

['TjC', 'TjCpp', 'TjPython', 'Java']

Prefix = 'Tj'

Strings count with matching frequency : 3
'''
a = ['TjC', 'TjCpp', 'TjPython', 'Java']
prefix = 'Tj'
count = 0
for i in a:
  if i[0:2] == prefix:
    count +=1
print (count)

3

In [ ]:
'''
48. Write a Python Program to Split Strings on Prefix Occurrence

Sample Output

['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']

Prefix = 'Tj'

[ ['TjC'], ['TjCpp'], ['TjPython', 'Java', 'tj'] ]
'''
a = ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
prefix = 'Tj'

final_list = []
current_list = []

for i in a:
  if i.startswith(prefix):
    if current_list:
      final_list.append(current_list)
      current_list = []
    current_list.append(i)
  else:
    current_list.append(i)
strings = ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj']
prefix = 'Tj'

if current_list:
    final_list.append(current_list)

print(final_list)

[['TjC'], ['TjCpp'], ['TjPython', 'Java', 'tj']]

In [ ]:
'''
49. Write a Python program to Replace all Characters of a List Except the given character

Sample Output

['P', 'Y', 'T', 'H', 'O', 'N']

['@', '@', 'T', '@', '@', '@']
'''
a = ['P', 'Y', 'T', 'H', 'O', 'N']
b = []
c = "T"
for i in a:
  if i != c:
    b.append('@')
  else:
    b.append(c)
print(b)

['@', '@', 'T', '@', '@', '@']

In [2]:
'''
50. Write a Python Program to Add Space between Potential Words


['TutorJoes', 'ComputerEducations']

Sample Output

[' Tutor Joes', ' Computer Educations']
'''
a = ['TutorJoes', 'ComputerEducations']
new = []
for word in a:
  result = word[0]
  for letter in word[1:]:
    if letter.isupper():
      result += ' '
    result += letter
  new.append(result)
print(new)

['Tutor Joes', 'Computer Educations']